body{
    margin: 0px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
}
#fondo {
    background: linear-gradient(rgb(127, 85, 57), rgb(31, 20, 13));
    text-align: center;
}
.borde {
    margin-top: 0px;
    margin-bottom: 0px;
}
#imagen {
    max-width: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5%;
}
#letra {
    color: rgb(41, 10, 2);
}
.datos {
    text-align: center;
    margin-top: 0px;
}
p{
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#fondo1 {
    background-color: rgb(166, 138, 100);
    margin: 0px;
    padding: 2px;
}
.color {
    color: rgb(32, 23, 15);
    margin-left: 1%;
    margin-top: 0px;
}
#fondo2 {
    background-color: rgba(237, 224, 212);
    margin-top: 0px;
    padding: 2px;
}
#margen {
    background-color: rgb(101, 109, 74);
    margin-right: 0px;
    margin-left: 0px;
}
#columnas {
    background-color: rgb(101, 109, 74);
    margin-right: 1%;
    margin-left: 1%;
    column-count: 2;
    column-gap: 5px;
}
#fondo3 {
    margin: 0px;
    padding: 2px;
    background-color: rgb(65, 72, 51);
}
#enlace {
    color: rgb(193, 196, 197);
}