*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: burlywood;
}
#fondo {
    background: linear-gradient(rgb(143, 93, 2), rgb(59, 25, 3));
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.borde {
    margin-top: 1%;
    margin-bottom: 1%;
}
#letra {
    color: rgb(41, 10, 2);
}
.subrayado {
    text-decoration: underline;
}
.color {
    color: rgba(88, 32, 5, 0.935);
}
#boton {
    background-color: rgb(145, 83, 45);
    border-radius: 10px;
}
#boton:hover {
    background-color: rgb(67, 24, 3);
}
